<!-- index.html -->

{% extends "base.html" %}
{% block title %}Adenauer OS{% endblock %}
{% block content %}
<div class="icon-bar" style="margin-top:30px;">
  <div class="icon-item" id="icon6">
    <img src="{{ url_for('static', filename='icon6.png') }}" alt="icon6" width="64" height="64">
    <div class="icon-label">Index</div>
  </div>
  <div class="icon-item" id="icon7">
    <img src="{{ url_for('static', filename='icon7.png') }}" alt="icon7" width="64" height="64">
    <div class="icon-label">Benutzer</div>
  </div>
  <div class="icon-item" id="icon8">
    <img src="{{ url_for('static', filename='icon8.png') }}" alt="icon8" width="64" height="64">
    <div class="icon-label">Fahndung</div>
  </div>
  <div class="icon-item" id="icon9">
    <img src="{{ url_for('static', filename='icon9.png') }}" alt="icon9" width="64" height="64">
    <div class="icon-label">Suche</div>
  </div>
  <div class="icon-item" id="icon10">
    <img src="{{ url_for('static', filename='icon10.png') }}" alt="icon10" width="64" height="64">
    <div class="icon-label">Video-Archiv</div>
  </div>
  <div class="icon-item" id="icon12">
    <img src="{{ url_for('static', filename='icon12.svg') }}" alt="icon12" width="64" height="64">
    <div class="icon-label">Statistiktok</div>
  </div>
  <div class="icon-item" id="icon13">
    <img src="{{ url_for('static', filename='icon13.svg') }}" alt="icon13" width="64" height="64">
    <div class="icon-label">Player</div>
  </div>
  <div class="icon-item" id="icon14" style="top:120px; left:50px; position:absolute;">
    <img src="{{ url_for('static', filename='icon14.svg') }}" alt="icon14" width="64" height="64">
    <div class="icon-label">Nachrichten</div>
  </div>

  <!-- Neue Icons auf dem Desktop -->
  <div class="icon-item" id="icon15" style="top:120px; left:150px; position:absolute;">
    <img src="{{ url_for('static', filename='icon10.png') }}" alt="icon15" width="64" height="64">
    <div class="icon-label">Bilder-Archiv</div>
  </div>
  <div class="icon-item" id="icon16" style="top:120px; left:250px; position:absolute;">
    <img src="{{ url_for('static', filename='icon13.svg') }}" alt="icon16" width="64" height="64">
    <div class="icon-label">Gallerie</div>
  </div>
</div>
{% endblock %}
